body {
  background-color: #f1f3f4;
  background-image: radial-gradient(circle, #c4c4c4 1px, transparent 1px);
  background-size: 24px 24px;
}

.dark body {
  background-color: #121212;
  background-image: radial-gradient(circle, #2a2a2a 1px, transparent 1px);
  background-size: 24px 24px;
}
